<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>lio.blog.case-transform</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>E9AD47FC-A4D6-401A-8F69-2A40E0970E08</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>5750692F-7501-4D33-9C6B-3300563B24B6</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Helio Oliveira</string>
    <key>description</key>
    <string>Transform code case aka CamelCase =&amp;gt; snake_case</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>case-transform</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>5750692F-7501-4D33-9C6B-3300563B24B6</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>ct</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>2</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string>index.js</string>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>Code Transform</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>E9AD47FC-A4D6-401A-8F69-2A40E0970E08</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>5750692F-7501-4D33-9C6B-3300563B24B6</key>
      <dict>
        <key>xpos</key>
        <integer>240</integer>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
      <key>E9AD47FC-A4D6-401A-8F69-2A40E0970E08</key>
      <dict>
        <key>xpos</key>
        <integer>10</integer>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
    </dict>
    <key>version</key>
    <string>0.0.0</string>
    <key>webaddress</key>
    <string>https://github.com/heliohead/alfred-case-transform#readme</string>
  </dict>
</plist>